.banner {
  background-color: #ffffff;
  background-image: linear-gradient(160deg, #ffffff 0%, #b8e2dd 18%, #ffffff 100%);
  &__left {
    @include flexbox($align: center);
    &__box {
      &__title {
        font-size: 50px;
        color: var(--color-dark);
      }
      display: inline;
    }
    .hand-icon {
      width: 50px;
    }
  }
}
