@mixin flexbox($display: flex, $direction: row, $justify: flex-start, $align: stretch, $flex: 1) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex: $flex;
}
